.App {
  text-align: center;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.note-form label {
  font-size: 40px;
}

.notes-list {
  list-style: none;
  display: flex; 
  justify-content: space-between;

}

.note-title-button {
  border: none;
  background-color: white;
  font-size: large;
  font-weight: 600;
  color: black;
  
}

.align-right {
  float: right;
}

.note-update-button {
  background-color : #ff980f;
  color: white;
  border-radius: 4px;
  border: none;
}

.note-delete-button {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  border: none;
}

.list-container {
  width: 80%;
  display: table;
  margin: 0 auto;
  text-align: left;
}


